
/** main page **/

body#index {
    background-image: url('../images/cafe-background.jpg');
    background-repeat: repeat-y;
    background-size: cover;
}

.container {
    background: rgba(250, 239, 224, 0.6);
    border-radius: 10px;
    text-align: center;
    justify-content: center;
    position: fixed;
    top: 15%;
    left: 25%;
    right: 25%;
    border-bottom-left-radius: 0;
	border-top-right-radius: 0;
    /* height: 60%;    */
}

.logo {
    font-family: 'Sacramento', cursive;
    font-size: 10vw;
    margin: 10px auto 0 auto;
}

.sub-logo {
    font-family: 'Comfortaa', cursive;
    margin-top: 0;
}

a {
    text-decoration: none;
    color: whitesmoke;
    font-size: 80%;
    font-weight: bold;
}

.play-btn {
    font-family: 'Sacramento', cursive;
    /* border: 1px solid gray; */
    width: 60%;
    height: 12%;
    margin: 100px auto;
    text-align: center;
    padding: 10px 20px;
    font-size: 38px;
    cursor: pointer;
  
	border-radius: 10px;
	border-bottom-left-radius: 0;
	border-top-right-radius: 0;

  
	background-color: #b67c4a;
  
	transition: all 0.3s;
}

.play-btn:hover {
    border-radius: 5px;

    color: chocolate;
    background-color:  #b69b89;
    background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23ffacac' fill-opacity='0.4'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    animation: animatedBackground 5s linear infinite alternate;

}

@keyframes animatedBackground {
	from {
		background-position: 0 0;
	}
	to {
		background-position: 100% 0;
	}
}

/* game page */

/* * {
    border: 1px solid black;
} */
body#game {
    background-color: #fff;
    box-sizing: border-box;
    /* background-image: url('../images/coffee-bagel-background.jpeg'); */
    background-size: cover;
}

* {
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
    box-sizing:border-box;
} 

header {
    text-align: center;
}

.main {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr; /**repeat(3, 1fr);**/
    /* border: 1px solid black; */
    /* grid-template-columns: repeat(auto-fit, minmax(300px, 3fr)); */
}

.player-box-one {
    height: 250px;
    padding: 20px;
    /* width: 80%; */
    text-align: center;
}

.player-box-animate {
    height: 250px;
    padding: 10px 40px;
    text-align: center;
    border-radius: 50%;
    border: 30px solid white;

    animation: bgc-change 2s infinite linear; 
}

@keyframes bgc-change {
    0% { background-color: lemonchiffon; }
    50% { background-color: lavender; }
    100% { background-color: lemonchiffon; }
  }

/* @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  } */

.player-box-two {
    height: 250px;
    padding: 20px;
    /* width: 80%; */
    text-align: center;
}

.game-board {
    width: 61vw;
    height: 600px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    background-color: rgba(0, 0, 0, 0.4);;
    gap: 5px;
    border: 36px solid rgba(247, 239, 219, 0.8);
}

.game-box {
    background-color: rgba(247, 239, 219, 0.8);
    text-align: center;
    position: relative;
    padding: 20px;
}
.play-again-btn-wrapper {
    display: none;
    position: relative;
    text-align: center;
    height: 50px;
    padding: 40px;
}

.play-again-btn {
    position: relative;
    height: 50px;
    width: 300px;
    cursor: pointer;
}

.play-again-btn-txt {
    font-size: 20px;
    left: 47%;
    top: 40%;
    position: absolute;  
    color: #fff;
    cursor: pointer;
}

.alert-message {
    animation: color-change 1s infinite;
}

@keyframes color-change {
    0% { color: orange; }
    50% { color: skyblue; }
    100% { color: orange; }
  }

.player-icon {
    height: 60%;
    position: absolute;
    left: 40%;
    top: 20%;
  }


.hidden-div {
    background-color: rgba(247, 239, 219, 0.8);
    position: 'absolute';
    width: 100%;
    height: 100%;

}


.player-icon-move {
    height: 60%;
    position: absolute;
    left: 40%;
    top: 20%;
    /* Start the shake animation and make the animation last for 0.5 seconds */
    animation: shake 0.5s;
    /* When the animation is finished, start again */
    animation-iteration-count: infinite;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.player-one-img {
    height: 60%;
}

.player-two-img {
    height: 60%;
}

  /* @media only screen and (max-width: 768px) {
  
    [class*="col-"] {
      width: 100%;
    }
  } */

  /* @mediaonly screen and  (min-width:480px) {
    .main {
        grid-template-columns: 1fr;
    } 
  } */